<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Me</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h1>NOAM RAANAN</h1>
    <h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis nisi
      auctor, ultrices sem porttitor, rutrum ante. Duis vestibulum ligula sit
      amet dolor ullamcorper, sodales lacinia lectus pharetra. Cras molestie
      eleifend sollicitudin. Nunc vestibulum dui quis est vehicula placerat in
      quis quam. Donec varius rhoncus ligula a hendrerit. Proin interdum mi
      eros, vitae cursus justo sollicitudin non. Morbi iaculis libero quis
      interdum facilisis. In vehicula porttitor ornare.
    </h2>
  </body>
</html>
