<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/CV.css" />
    <title>CV</title>
  </head>
  <body>
    {% include 'header.html' %}
    <div id="grid-con">
      <div id="header"><h1 id="h1">Noam Raanan CV</h1></div>
      <div id="about"><a href="/about">About Me</a></div>
      <div id="experience"><a href="/experience">Work Experience</a></div>
      <div id="text">
        <h2>More Information:</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis
          nisi auctor, ultrices sem porttitor, rutrum ante. Duis vestibulum
          ligula sit amet dolor ullamcorper, sodales lacinia lectus pharetra.
          Cras molestie eleifend sollicitudin. Nunc vestibulum dui quis est
          vehicula placerat in quis quam. Donec varius rhoncus ligula a
          hendrerit. Proin interdum mi eros, vitae cursus justo sollicitudin
          non. Morbi iaculis libero quis interdum facilisis. In vehicula
          porttitor ornare.
        </p>
      </div>
    </div>
  </body>
</html>
